:root {
    --primary-color: #FFE2E2;
    --secondary-color: #FFFDEC;
    --accent-color-1: #86A788;
    --accent-color-2: #FFCFCF;
    /* https://colorhunt.co/palette/86a788fffdecffe2e2ffcfcf */
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    font-size: 1.04rem;
    background-color: var(--primary-color);
}

.border-highlight {
    border: 2px solid red
}
#overlay {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 3.5rem;
    top: 17rem;
    font-style: italic;
}

nav {
    width: auto;
    z-index: 1;
}
nav .nav-btn {
    border-radius: 20px;
    transition: all 0.3s ease;

}
.nav-btn:hover {
    box-shadow: 0px 2px 6px 
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    width: 100%;
    position: sticky;
    margin: 0.5rem;
    top: 0;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 5px;
}

@media (min-width: 700px) {
    .main-nav {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .nav-btn-1 {
        justify-self: end;
    }
    .nav-btn-2 {
        justify-self: center;
    }
    .nav-btn-3 {
        justify-self: start;
    }
    
}

/* this part is technically desktop-first */

.container {
    border-radius: 30px;
    height: 450px;
    width: 1000px;
    background-color: var(--accent-color-2)
}

.container h1 {
    color: black;
}

.card-container {
    /* border: 5px solid blue; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    gap: 0px;
    height: 100%;
    width: 100%;
    justify-content: center; 
    justify-items: center;
}
.card {
    box-shadow: 2px 1px 10px;
    background-color: var(--secondary-color);
    justify-content:flex-start;
    gap: 1px;
    /* border: 5px solid salmon; */
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    will-change: transform;
    transition: all 0.2s ease;

}

.card:hover {
    width: 300px;
    /* width: 300px; */
    box-shadow: 1px 1px 3px;
}

@media (max-width: 1068px) {
    .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .card {
            width: 100%;;
        }
    .card:hover {
            transform: none;
        }
    .container {
        width: 100%;
        height: auto;
    }
}

.card img {
    width: 100%;;
    object-fit: cover;
    max-height: 160px;
}

.card:hover .button {
    display:block;
}

.button {
    display:none;
    width: 50%;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px;
    background-color: #EBC8CB;
}
.button:active {
    box-shadow: 1px 1px 3px inset;
}

.card p {
    marcenter;gin-bottom: 5px;
}

nav button:hover {
    background-color: #EBC8CB90;
}

/* MAIN BODY (CONTAINS THE PRODUCT) */

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s ease-in-out 5s both;
	        animation: tracking-in-contract-bck 1s ease-in-out 5s both;
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-3-19 16:33:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-19 16:39:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.product-container {
    width: 100%;
    height: 1200px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.product-desc {
    box-sizing:content-box;
    display:flex;
    width: 95%;
    background-color: var(--accent-color-1);
    max-height: 30%;
    margin: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.product-desc:hover {
    box-shadow: 2px 2px 3px;
}
.product-desc img {
    min-width: 200px;
    width: 30%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 80%;
    gap: 10px;
    padding: 10px;
}


.service {
    display: flex;
    justify-content: space-around;
    width: 80%;
    
}

.service-info {
    width: 60%;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 10px;
}
.list {
    display: block;
    position: relative;
    left: 1.5rem;
}
.list ol {
    list-style-type: disc;
}
.list-header {
    font-weight: bold;
}

#divider img {
    object-position : 50% 33%;
}

/* FOOTER */

footer {
    position: relative;
    top: 2rem;
    background-color: black;
    height: calc(130% + 3rem);
    width: 100%;
    color: white;
    justify-content: space-around;
    padding: 20px
}

footer h1 {
    grid-column: 1/2;
}
footer form {
    grid-column: 2/3;
}
footer #services {
    background-color: var(--accent-color-1);

}


footer button:hover {
    background-color: var(--accent-color-1);
}

.dropdown {
    position:relative;
    display: inline;
    height: 2rem;
    width: 10rem;
    
}
.dropdown-content {
    color: black;
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px;
    padding: 12px 16px;
    z-index: 1;

}
.dropdown:hover .dropdown-content {
    display: block;
}

.thank-you {
    grid-column: 1/3;
    justify-self: center;
}

@media (min-width: 700px) {
    footer {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    
    .thank-you {
        grid-column: 3/4;
    }
    footer h1 {
        grid-column: 1/2;
    }
    footer form {
        grid-column: 2/3;
    }
    
    
}