:root {
    --primary-color: #FFE2E2;
    --secondary-color: #FFFDEC;
    --accent-color-1: #86A788;
    --accent-color-2: #FFCFCF;
    /* https://colorhunt.co/palette/86a788fffdecffe2e2ffcfcf */
}
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Atkinson Hyperlegible Next', sans-serif;
    font-size: 1.04rem;
    background-color: var(--primary-color);
    /* i used gap here to effectively and easily make a gap between all my elements on the body, i really like using grid on the body because everything was easy to format */
    gap: 7px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    height: 100%;
}

.border-highlight {
    border: 2px solid red
}
#overlay {
    position: absolute;
    color: white;
    z-index: 10;
    font-size: 3.5rem;
    top: 17rem;
    font-style: italic;
}

header div div {
    display: inline-block;
}

/* yes, this animation took a while to make but not as long as I thought it would */

#M {
	animation: bounce-top 3s both infinite;
}

#I {
    animation: bounce-top 3s both infinite calc(0.2s * 1)
}

#C {
    animation: bounce-top 3s both infinite calc(0.2s * 2)
}
#R {
    animation: bounce-top 3s both infinite calc(0.2s * 3)
}
#O {
    animation: bounce-top 3s both infinite calc(0.2s * 4)
}
#N {
    animation: bounce-top 3s both infinite calc(0.2s * 5)
}
#E {
    animation: bounce-top 3s both infinite calc(0.2s * 6)
}
#E2 {
    animation: bounce-top 3s both infinite calc(0.2s * 7)
}
#D {
    animation: bounce-top 3s both infinite calc(0.2s * 8)
}
#L {
    animation: bounce-top 3s both infinite calc(0.2s * 9)
}
#I2 {
    animation: bounce-top 3s both infinite calc(0.2s * 10)
}
#N2 {
    animation: bounce-top 3s both infinite calc(0.2s * 11)
}
#G {
    animation: bounce-top 3s both infinite calc(0.2s * 12)
}

@keyframes bounce-top {
    0% {
        transform: translateY(0px)
    }
    50% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(0px)
    }

    85% {
        transform: translateY(-16px)
    }
    90% {
        transform: translateY(-16px);
    }

}
  

.main-nav {
    visibility: hidden;
}

#menu__toggle {
    opacity: 0;
    display:none;
}

#menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
}
  
.menu__btn {
    box-sizing: border-box;
    border-radius:  15%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 20px;
    margin: 10px;
    width: 3rem;
    height: 25px;
  
    cursor: pointer;
    z-index: 8000;
    background-color: var(--secondary-color);
}
  

  
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 600;
  
    width: 300px;
    height: 100%;
  
    margin: 0;
    padding: 80px 0;
  
    list-style: none;
  
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
}
  
.menu__item {
    display: block;
    padding: 12px 24px;
  
    color: #333;
  
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
  
    text-decoration: none;
  
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}

@media (min-width:700px) {
    .main-nav {
        visibility: visible;
        width: auto;
        z-index: 1;
    }
    .main-nav .nav-btn {
        border-radius: 20px;
        transition: all 0.3s ease;

    }

    .nav-btn:hover {
        box-shadow: 0px 2px 6px 
    }
    .nav-btn-1 {
        place-self: flex-end;
    }
    .nav-btn-2 {
        place-self: center;
    }

    .nav-btn-3 {
        place-self: flex-start;
    }
    .main-nav {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        place-content: center;
        place-items: center;
        width: 100%;
        position: sticky;
        top: 0;
        background-color: white;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        gap: 4rem;

    }
    .menu__btn {
        visibility: hidden;
    }
}

/* this part is technically desktop-first */

.container {
    border-radius: 30px;
    height: 450px;
    width: 1000px;
    background-color: var(--accent-color-2)
}

.container h1 {
    color: black;
}

.card-container {
    /* border: 5px solid blue; */
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    gap: 0px;
    height: 100%;
    width: 100%;
    justify-content: center; 
    justify-items: center;
}
.card {
    box-shadow: 2px 1px 10px;
    background-color: var(--secondary-color);
    justify-content:flex-start;
    gap: 1px;
    /* border: 5px solid salmon; */
    width: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 7px;
    will-change: transform;
    transition: all 0.2s ease;

}

.card:hover {
    width: 300px;
    /* width: 300px; */
    box-shadow: 1px 1px 3px;
}


.card img {
    width: 100%;;
    object-fit: cover;
    max-height: 160px;
}

.card:hover .button {
    display:block;
}

.button {
    display:none;
    width: 50%;
    border-radius: 15px;
    border: none;
    box-shadow: 1px 1px 2px;
    background-color: #EBC8CB;
}
.button:active {
    box-shadow: 1px 1px 3px inset;
}

.card p {
    margin-bottom: 5px;
}

nav button:hover {
    background-color: #EBC8CB90;
}

@media (max-width: 1068px) {
    .card-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .card {
            width: 100%;
            transition: none;
        }
    .card:hover {
            width: 100%;
            box-shadow: 1px 1px 3px;
    }
    .container {
        width: 100%;
        height: auto;
    }
    .button {
        display: block;
        place-self: center;
    }
}
/* MAIN BODY (CONTAINS THE PRODUCT) */

.tracking-in-contract-bck {
	-webkit-animation: tracking-in-contract-bck 1s ease-in-out 5s both;
	        animation: tracking-in-contract-bck 1s ease-in-out 5s both;
}
.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2025-3-19 16:33:50
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2025-3-19 16:39:18
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.product-container {
    place-items: center;
    width: 100%;
    height: auto;
    background-color: var(--primary-color);
    justify-content: space-evenly;
}
.product-desc {
    box-sizing:content-box;
    place-items: center;
    display:grid;
    background-color: var(--accent-color-1);
    margin: 10px;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.product-desc:hover {
    box-shadow: 2px 2px 3px;
}
.product-desc img {
    min-width: 200px;
    width: 30%;
    object-fit: cover;
}

.product-info {
    display: flex;
    flex-flow: column wrap;
    height: 100%;
    width: 80%;
    gap: 10px;
    padding: 10px;
}

@media (min-width: 700px) {
    .product-container {
        gap: 10px;
    }
    .product-desc {
        grid-template-columns: 1fr 3fr;
        height: 100%;
    }
    #product-desc-right {
        grid-template-columns: 3fr 1fr;
    }

}

.service-info {
    width: 57%;
    background-color: var(--secondary-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    padding: 1rem;
    border-radius: 10px;
}
.list {
    display: block;
    position: relative;
    left: 1.5rem;
}
.list ol {
    list-style-type: disc;
}
.list-header {
    font-weight: bold;
}


@media (min-width: 700px) {
    .service {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        justify-content: center;
    }
    .service video {
        place-self: end;
    }
    .service-info {
        place-self: start;
        height: 24rem;
    }
}
#divider {
    position: relative;
    top: 5rem;
}
#divider img {
    object-position : 50% 33%;
    
}

/* FOOTER */
/* this contains the auto filling grid  */
footer {
    position: relative;
    top: 4rem;
    background-color: black;
    width: 100%;
    color: white;
    justify-content: space-around;
    padding: 10px;
    grid-auto-rows: minmax(100px, auto);
    /* border: 1px solid red; */
}

footer form {
    justify-self: center;
    align-self: flex-start;
}


footer #services {
    background-color: var(--accent-color-1);

}

footer input {
    width: 100%; 
}

footer button:hover {
    background-color: var(--accent-color-1);
}

.dropdown {
    position:relative;
    display: inline;
    height: 2rem;
    width: 10rem;
    
}
.dropdown-content {
    color: black;
    display: none;
    position: absolute;
    margin: 0;
    background-color: var(--secondary-color);
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px;;
    z-index: 1;

}
.dropdown:hover .dropdown-content {
    display: block;
}

footer #top {
    justify-self: flex-end;
}


.thank-you {
    position: relative;
}

@media (min-width: 700px) {
    footer {
        height: auto;
        grid-template-columns: repeat(auto, minmax(30%, 1fr));
        grid-auto-rows: auto;
    }
    footer #top {
        grid-column: span 3;
    }
    

}
/* remember to test at school */
/* this is using the UTD presentation on dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --primary-color: black;
        --secondary-color: rgb(91, 70, 26);
        --accent-color-1: #86A788;
        --accent-color-2: #FFCFCF;
    }
    body {
        color: white;
    }
}
